$utility-name: 'u-color-folk';

.#{$utility-name} {
    &-light-purple {
        color: $color-folk-light-purple !important;
    }

    &-yellow {
        color: $color-folk-yellow !important;
    }

    &-white {
        color: $color-folk-white !important;
    }
}