$utility-name: 'u-font-size';


.#{$utility-name}{
    &-80 {
        font-size: 5rem !important; 
    }
}


//query sm
.sm\: {
    &#{$utility-name} {
        &-100 {
            @media screen and (min-width: 576px) {
                font-size: 6.25rem !important;
            }
        }
    }    
}

//query xl
.xl\: {
    &#{$utility-name} {
        &-120 {
            @media screen and (min-width: 1200px) {
                font-size: 7.5rem !important;
            }
        }
    }    
}

//query xxl
.xxl\: {
    &#{$utility-name} {
        &-150 {
            @media screen and (min-width: 1600px) {
                font-size: 9.375rem !important;
            }
        }

        
        &-143 {
            @media screen and (min-width: 1600px) {
                font-size: 8.9375rem !important;
            }
        }
    }    
}