$utility-name: 'u-font-size';


.#{$utility-name}{
    &-26 {
        font-size: 1.625rem !important; 
    }

    &-80 {
        font-size: 5rem !important; 
    }
}


//query sm
.sm\: {
    &#{$utility-name} {
        &-100 {
            @media screen and (min-width: 576px) {
                font-size: 6.25rem !important;
            }
        }
    }    
}

.lg\: {
    &#{$utility-name} {
        &-32 {
            @media screen and (min-width: 992px) {
                font-size: 2rem !important;
            }
        }
    }    
}

//query xl
.xl\: {
    &#{$utility-name} {
        &-96 {
            @media screen and (min-width: 1200px) {
                font-size: 6rem !important;
            }
        }

        &-120 {
            @media screen and (min-width: 1200px) {
                font-size: 7.5rem !important;
            }
        }

        &-250 {
            @media screen and (min-width: 1200px) {
                font-size: 15.625rem !important;
            }
        }
    }    
}

//query xxl
.xxl\: {
    &#{$utility-name} {
        &-42 {
            @media screen and (min-width: 1600px) {
                font-size: 2.625rem !important;
            }
        }

        &-122 {
            @media screen and (min-width: 1600px) {
                font-size: 7.625rem !important;
            }
        }

        &-143 {
            @media screen and (min-width: 1600px) {
                font-size: 8.9375rem !important;
            }
        }

        &-150 {
            @media screen and (min-width: 1600px) {
                font-size: 9.375rem !important;
            }
        }

        &-350 {
            @media screen and (min-width: 1600px) {
                font-size: 21.875rem !important;
            }
        }
    }    
}

.before\:\: {
    &#{$utility-name} {
        &-70 {
            &::before {
                font-size: 4.375rem !important;
            }
        }
    }

    &xxl\: {
        &#{$utility-name} {
            &-100 {
                @media screen and (min-width: 1600px) {
                    &::before {
                        font-size: 6.25rem !important;
                    }
                }
            }
        }
    }
}