.u-font-family {
    &-bronkz {
        font-family: 'BROKENZ', sans-serif;
    }

    &-brokenz {
        font-family: 'BROKENZ', sans-serif;
    }

    &-Bahnschrift {
        font-family: 'Bahnschrift', sans-serif;
    }
}