$layout-name: 'l-header';

.#{$layout-name} {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: none !important;
    z-index: 999;

    .navbar-nav {
        flex: 1;
        justify-content: space-around;
    }

    .nav-item {
        margin: 0 1rem;
    }

    .nav-link {
        padding-left: 2rem;
        padding-right: 2rem;    
        font-size: 1.75rem;
        font-weight: 100;
        font-family: 'Bahnschrift'; 
        text-transform: lowercase;

        &::before {
            content: '';
            width: 0;
            height: 5px;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            transition: all .4s;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            background-color: $color-folk-yellow-weak;
        }        
    }
}

.active .nav-link,
.nav-item:hover .nav-link {
    &::before {
        width: calc(100% - 1rem);
        opacity: 1;
        visibility: visible;
    }
}