$layout-name: 'l-programme';

.#{$layout-name} {
    background-color: $color-folk-gray;
    
    &__title {
        font-size: 5rem;
        font-family: 'BROKENZ', sans-serif;
        text-transform: uppercase;
        color: #E6D019;

        @media screen and (min-width: 1600px) {
            font-size: 8.25rem;
        }
    }

   &__text {
        display: block;
        font-size: 1.75rem;
        font-family: 'Bahnschrift', sans-serif;
        color: #1E013F;

        @media screen and (min-width: 1600px) {
            font-size: 2.375rem;
        }
    }

    &__btn-quote {
        width: 100%;
        border-radius: 10px;
        display: block;
        font-size: 2rem;
        font-family: 'Bahnschrift', sans-serif;
        text-align: center;
        color: $color-folk-white !important;
        background-color: #DB2FCD;

        @media screen and (min-width: 1600px) {
            font-size: 2.8125rem;
        }

        &:hover {
            background-color: $color-folk-light-purple;
        }
    }

    &__content {
        p, a {
            font-size: 1.75rem;
            font-family: 'Bahnschrift', sans-serif;

            @media screen and (max-width: 767px) {
                font-size: 1.25rem;
            }

            @media screen and (min-width: 1600px) {
                font-size: 2.375rem;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            text-transform: uppercase !important;

            * {
                font-family: 'BROKENZ', sans-serif;
            }
        }

        h2 {
            @include programme-content(9.375rem);
        }

        h3 {
            @include programme-content(7.5rem);
        }

        h3 {
            @include programme-content(6.25rem);
        }

        h4 {
            @include programme-content(5.25rem);
        }

        h5 {
            @include programme-content(4.75rem);
        }

        h6 {
            @include programme-content(3.875rem);
        }
    }

    &__timeline {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            background-color: $color-folk-white;
        }        

        &__box-week {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #7919E5;
        }

        &__week {
            line-height: 100%;
            font-size: 3.75rem;
            font-family: 'BROKENZ', sans-serif;
            text-transform: uppercase;
            color: #E6D019;

            @media screen and (min-width: 1600px) {
                font-size: 5rem;
            }
        }

        &__title {
            height: 80px;
            line-height: 38px;
            overflow: hidden;
            font-size: 2.375rem;
            font-family: 'Bahnschrift', sans-serif;
            color: $color-folk-purple;

            @media screen and (max-width: 767px) {
                font-size: 1.75rem;
                text-align: center;
            }

            @media screen and (min-width: 1600px) {
                height: 110px;
                line-height: 52px;
                font-size: 3.25rem;
            }
        }
    }

    &__coaches {
        &__col-child {
            &:nth-of-type(odd) {
                .#{$layout-name} {
                    &__coaches {
                        &__item-child {
                            &:nth-of-type(odd) {
                                order: 1;
                            }

                            &:nth-of-type(even) {
                                order: 2;
                            }
                        }
                    }
                }
            }

            &:nth-of-type(even) {
                .#{$layout-name} {
                    &__coaches {
                        &__item-child {
                            &:nth-of-type(odd) {
                                order: 2;

                                @media screen and (max-width: 991px) {
                                    order: 1;
                                }
                            }

                            &:nth-of-type(even) {
                                order: 1;
                                
                                @media screen and (max-width: 991px) {
                                    order: 2;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__title {
            line-height: 100%;
            font-size: 7.5rem !important;
            font-family: 'BROKENZ';
            color: #DC30CE;

            @media screen and (min-width: 1600px) {
                font-size: 9.375rem !important;
            }

            @media screen and (max-width: 991px) {
                font-size: 6.25rem !important;
            }

            @media screen and (max-width: 575px) {
                font-size: 5rem !important;
            }
        }

        &__content {
            height: 100%;
            background-color: $color-folk-white;
        }

        &__text {
            line-height: 100%;
            display: block;
            font-size: 1.75rem;
            font-family: 'Bahnschrift', sans-serif;

            @media screen and (max-width: 767px) {
                font-size: 1.25rem;
            }

            @media screen and (min-width: 1600px) {
                font-size: 2.375rem;
            }
        }
    }
}