$layout-name: 'l-testimonials';

.#{$layout-name} {
    margin-left: 6%;    
    background-image: url(../../images/testimonials-background.webp);
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 991px) {
        padding-left: 2rem;
    }

    &__swiper {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        .swiper-slide {
            height: unset;
        }
    }

    &__item {
        height: 100%;
        padding: 1.5rem;
        border-radius: 10px;
        background-color: #470099;

        &__header {
            display: flex;
            flex-wrap: wrap;
        }

        &__thumbnail {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__name {
            font-size: 1.375rem;
            font-weight: 700;   
            font-family: 'Bahnschrift', sans-serif;
            color: $color-folk-white;
        }

        &__occupation {
            line-height: 100%;
            font-size: 1.25rem;
            font-weight: 400;   
            font-family: 'Bahnschrift', sans-serif;
            color: $color-folk-white;
        }

        &__description {
            line-height: 100%;
            font-size: 1.375rem;
            font-weight: 300;
            font-family: 'Bahnschrift', sans-serif;
            color: $color-folk-white;

            @media screen and (max-width: 767px) {
                font-size: 1rem;
            }
        }
    }

    &__title {
        font-size: 6rem;
        font-family: 'BROKENZ', sans-serif;
        text-align: center;
        text-transform: uppercase;
        color: #E6D019;
        
        @media screen and (min-width: 1600px) {
            font-size: 8.25rem;
        }

        @media screen and (max-width: 575px) {
            font-size: 4rem;
        }
    }

    &__button-pattern {
        position: unset;

        &::after {
            font-size: 4rem;
            font-weight: 700;
            font-family: 'Font Awesome 5 Free';
            color: $color-folk-white;
        }
    }

    &__button-prev {
        &::after {
            content: '\f053';
        }
    }

    &__button-next {
        &::after {
            content: '\f054';
        }
    }
}