.submenu {
	margin-left: 6%;
	padding: 2rem 0 2rem 1rem; //6%
	-webkit-box-shadow: -26px 31px 21px -12px rgba(68,88,144,0.2);
	-moz-box-shadow: -26px 31px 21px -12px rgba(68,88,144,0.2);
	box-shadow: 10px 31px 21px -12px rgba(68,88,144,0.2);

	@media screen and (min-width: 1800px) {
		margin-left: 84px;
	}

	&.sticky {
		@media screen and (min-width: 1200px) {
			width: 94%;
  			top: 0;
  			position: fixed;
  			background-color: #FFF;
  			z-index: 999;
		}
	}

	@media screen and (max-width: 767px) {
		margin-left: 0;
		padding: 2rem 1rem;
	}

	&__brand {
		padding: .6rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #000;

		@media screen and (max-width: 767px) {
			width: 60px;
			margin: 0 auto;
		}

		img {
			width: 40px;
		}
	}

	&--item {
		position: relative;

		&::before {
			content: '';
			width: 5px;
			height: 100%;
			top: 0;
			right: 0;
			position: absolute;
			background-color: $color-folk-yellow;

			@media screen and (max-width: 991px) {
				display: none;
			}
		}

		&:last-child {
			&::before {
				display: none;
			}
		}
	}

	&--item,
	.page_item {
		padding-left: 2rem;
		padding-right: 2rem;
		list-style: none;
	}

	.page_item a {
		font-weight: bold;
	}

	&--links,
	.page_item a {
		font-size: 1.875rem;
		font-family: 'Bahnschrift', sans-serif;
		color: $color-folk-purple;

		@media screen and (min-width: 1600px) {
			font-size: 2.625rem;
		}

		&:hover {
			color: $color-folk-yellow;
		}

		&.active {
			text-decoration: underline;
			color: $color-folk-yellow;	
		}
	}
}