$utility-name: 'u-font-size';


.#{$utility-name}{
    &-22{
        font-size: 1.37rem !important; 
    }
    &-30{
        font-size: 1.87rem !important; 
    }
    &-32{
        font-size: 2rem !important; 
    }
    &-37{
        font-size: 2.37rem !important; 
    }
    &-45 {
        font-size: 2.81rem !important; 
    }
    &-52 {
        font-size: 3.25rem !important; 
    }
    &-54 {
        font-size: 3.41rem !important; 
    }
    &-60 {
        font-size: 3.75rem !important; 
    }
    &-70 {
        font-size: 4.37rem !important; 
    }
    &-100 {
        font-size: 6.25rem !important; 
    }
    &-120 {
        font-size: 7.5rem !important; 
    }
}


//query sm
.sm\: {
    &#{$utility-name} {
        &-0 {
            @media screen and (min-width: 576px) {
                font-size: 0 !important;
            }
        }
    
        &-7 {
            @media screen and (min-width: 576px) {
                font-size: .4375rem !important;
            }
        }
    
        &-8 {
            @media screen and (min-width: 576px) {
                font-size: .5rem !important;
            }
        }
    
        &-9 {
            @media screen and (min-width: 576px) {
                font-size: .5625rem !important;
            }
        }
    
        &-10 {
            @media screen and (min-width: 576px) {
                font-size: .625rem !important;
            }
        }
    
        &-11 {
            @media screen and (min-width: 576px) {
                font-size: .6875rem !important;
            }
        }
    
        &-12 {
            @media screen and (min-width: 576px) {
                font-size: .75rem !important;
            }
        }
    
        &-13 {
            @media screen and (min-width: 576px) {
                font-size: .8125rem !important;
            }
        }
    
        &-14 {
            @media screen and (min-width: 576px) {
                font-size: .875rem !important;
            }
        }
    
        &-15 {
            @media screen and (min-width: 576px) {
                font-size: .9375rem !important;
            }
        }
    
        &-17 {
            @media screen and (min-width: 576px) {
                font-size: 1.0625rem !important;
            }
        }
    
        &-18 {
            @media screen and (min-width: 576px) {
                font-size: 1.125rem !important;
            }
        }

        &-32 {
            @media screen and (min-width: 576px) {
                font-size: 2.1rem !important;
            }
        }

        &-52 {
            @media screen and (min-width: 576px) {
                font-size: 3.25rem !important;
            }
        }

        &-75 {
            @media screen and (min-width: 576px) {
                font-size: 4.68rem !important;
            }
        }
    }    
}

//query md
.md\: {
    &#{$utility-name} {
        &-0 {
            @media screen and (min-width: 768px) {
                font-size: 0 !important;
            }
        }
    
        &-7 {
            @media screen and (min-width: 768px) {
                font-size: .4375rem !important;
            }
        }
    
        &-8 {
            @media screen and (min-width: 768px) {
                font-size: .5rem !important;
            }
        }
    
        &-9 {
            @media screen and (min-width: 768px) {
                font-size: .5625rem !important;
            }
        }
    
        &-10 {
            @media screen and (min-width: 768px) {
                font-size: .625rem !important;
            }
        }
    
        &-11 {
            @media screen and (min-width: 768px) {
                font-size: .6875rem !important;
            }
        }
    
        &-12 {
            @media screen and (min-width: 768px) {
                font-size: .75rem !important;
            }
        }
    
        &-13 {
            @media screen and (min-width: 768px) {
                font-size: .8125rem !important;
            }
        }
    
        &-14 {
            @media screen and (min-width: 768px) {
                font-size: .875rem !important;
            }
        }
    
        &-15 {
            @media screen and (min-width: 768px) {
                font-size: .9375rem !important;
            }
        }
    
        &-17 {
            @media screen and (min-width: 768px) {
                font-size: 1.0625rem !important;
            }
        }
    
        &-18 {
            @media screen and (min-width: 768px) {
                font-size: 1.125rem !important;
            }
        }
        &-22 {
            @media screen and (min-width: 768px) {
                font-size: 1.3rem !important;
            }
        }
        &-30 {
            @media screen and (min-width: 768px) {
                font-size: 1.87rem !important;
            }
        }
        &-45 {
            @media screen and (min-width: 768px) {
                font-size: 2.81rem !important;
            }
        }
        &-50 {
            @media screen and (min-width: 768px) {
                font-size: 3.12rem !important;
            }
        }
        &-55 {
            @media screen and (min-width: 768px) {
                font-size: 3.43rem !important;
            }
        }
        &-58 {
            @media screen and (min-width: 768px) {
                font-size: 3.62rem !important;
            }
        }
        &-75 {
            @media screen and (min-width: 768px) {
                font-size: 4.68rem !important;
            }
        }
        &-84 {
            @media screen and (min-width: 768px) {
                font-size: 5.25rem !important;
            }
        }
        &-98 {
            @media screen and (min-width: 768px) {
                font-size: 6.125rem !important;
            }
        }
        &-100 {
            @media screen and (min-width: 768px) {
                font-size: 6.25rem !important;
            }
        }
       
        &-161 {
            @media screen and (min-width: 768px) {
                font-size: 10.01rem !important;
            }
        }
    }    
}

//query lg
.lg\: {
    &#{$utility-name} {
        &-0 {
            @media screen and (min-width: 992px) {
                font-size: 0 !important;
            }
        }
    
        &-7 {
            @media screen and (min-width: 992px) {
                font-size: .4375rem !important;
            }
        }
    
        &-8 {
            @media screen and (min-width: 992px) {
                font-size: .5rem !important;
            }
        }
    
        &-9 {
            @media screen and (min-width: 992px) {
                font-size: .5625rem !important;
            }
        }
    
        &-10 {
            @media screen and (min-width: 992px) {
                font-size: .625rem !important;
            }
        }
    
        &-11 {
            @media screen and (min-width: 992px) {
                font-size: .6875rem !important;
            }
        }
    
        &-12 {
            @media screen and (min-width: 992px) {
                font-size: .75rem !important;
            }
        }
    
        &-13 {
            @media screen and (min-width: 992px) {
                font-size: .8125rem !important;
            }
        }
    
        &-14 {
            @media screen and (min-width: 992px) {
                font-size: .875rem !important;
            }
        }
    
        &-15 {
            @media screen and (min-width: 992px) {
                font-size: .9375rem !important;
            }
        }
    
        &-17 {
            @media screen and (min-width: 992px) {
                font-size: 1.0625rem !important;
            }
        }
    
        &-18 {
            @media screen and (min-width: 992px) {
                font-size: 1.125rem !important;
            }
        }
    
        &-19 {
            @media screen and (min-width: 992px) {
                font-size: 1.18rem !important;
            }
        }
        &-30 {
            @media screen and (min-width: 992px) {
                font-size: 1.8rem !important;
            }
        }
        &-64 {
            @media screen and (min-width: 992px) {
                font-size: 4rem !important;
            }
        }
        &-105 {
            @media screen and (min-width: 992px) {
                font-size: 6.56rem !important;
            }
        }
        &-121 {
            @media screen and (min-width: 992px) {
                font-size: 7.56rem !important;
            }
        }
        &-130 {
            @media screen and (min-width: 992px) {
                font-size: 8.12rem !important;
            }
        }
        &-220 {
            @media screen and (min-width: 992px) {
                font-size: 13.75rem !important;
            }
        }
    }    
}

//query xl
.xl\: {
    &#{$utility-name} {
        &-0 {
            @media screen and (min-width: 1200px) {
                font-size: 0 !important;
            }
        }
    
        &-7 {
            @media screen and (min-width: 1200px) {
                font-size: .4375rem !important;
            }
        }
    
        &-8 {
            @media screen and (min-width: 1200px) {
                font-size: .5rem !important;
            }
        }
    
        &-9 {
            @media screen and (min-width: 1200px) {
                font-size: .5625rem !important;
            }
        }
    
        &-10 {
            @media screen and (min-width: 1200px) {
                font-size: .625rem !important;
            }
        }
    
        &-11 {
            @media screen and (min-width: 1200px) {
                font-size: .6875rem !important;
            }
        }
    
        &-12 {
            @media screen and (min-width: 1200px) {
                font-size: .75rem !important;
            }
        }
    
        &-13 {
            @media screen and (min-width: 1200px) {
                font-size: .8125rem !important;
            }
        }
    
        &-14 {
            @media screen and (min-width: 1200px) {
                font-size: .875rem !important;
            }
        }
    
        &-15 {
            @media screen and (min-width: 1200px) {
                font-size: .9375rem !important;
            }
        }
    
        &-17 {
            @media screen and (min-width: 1200px) {
                font-size: 1.0625rem !important;
            }
        }
    
        &-18 {
            @media screen and (min-width: 1200px) {
                font-size: 1.125rem !important;
            }
        }
        &-22 {
            @media screen and (min-width: 1200px) {
                font-size: 1.37rem !important;
            }
        }
        &-32 {
            @media screen and (min-width: 1200px) {
                font-size: 2rem !important;
            }
        }
        &-37 {
            @media screen and (min-width: 1200px) {
                font-size: 2.37rem !important;
            }
        }
        &-94 {
            @media screen and (min-width: 1200px) {
                font-size: 5.9rem !important;
            }
        }
        
        &-100 {
            @media screen and (min-width: 1200px) {
                font-size: 6.25rem !important;
            }
        }
        &-160 {
            @media screen and (min-width: 1200px) {
                font-size: 10.06rem !important;
            }
        }
    }    
}

//query xxl
.xxl\: {
    &#{$utility-name} {
        &-0 {
            @media screen and (min-width: 1600px) {
                font-size: 0 !important;
            }
        }
    
        &-7 {
            @media screen and (min-width: 1600px) {
                font-size: .4375rem !important;
            }
        }
    
        &-8 {
            @media screen and (min-width: 1600px) {
                font-size: .5rem !important;
            }
        }
    
        &-9 {
            @media screen and (min-width: 1600px) {
                font-size: .5625rem !important;
            }
        }
    
        &-10 {
            @media screen and (min-width: 1600px) {
                font-size: .625rem !important;
            }
        }
    
        &-11 {
            @media screen and (min-width: 1600px) {
                font-size: .6875rem !important;
            }
        }
    
        &-12 {
            @media screen and (min-width: 1600px) {
                font-size: .75rem !important;
            }
        }
    
        &-13 {
            @media screen and (min-width: 1600px) {
                font-size: .8125rem !important;
            }
        }
    
        &-14 {
            @media screen and (min-width: 1600px) {
                font-size: .875rem !important;
            }
        }
    
        &-15 {
            @media screen and (min-width: 1600px) {
                font-size: .9375rem !important;
            }
        }

        &-16 {
            @media screen and (min-width: 1600px) {
                font-size: 1rem !important;
            }
        }
    
        &-17 {
            @media screen and (min-width: 1600px) {
                font-size: 1.0625rem !important;
            }
        }
    
        &-18 {
            @media screen and (min-width: 1600px) {
                font-size: 1.125rem !important;
            }
        }

        &-20 {
            @media screen and (min-width: 1600px) {
                font-size: 1.25rem !important;
            }
        }

        &-22 {
            @media screen and (min-width: 1600px) {
                font-size: 1.375rem !important;
            }
        }

        &-24 {
            @media screen and (min-width: 1600px) {
                font-size: 1.5rem !important;
            }
        }
        &-180 {
            @media screen and (min-width: 1600px) {
                font-size: 11.25rem !important;
            }
        }
    }    
}